openapi: 3.1.0
info:
  title: tnl core API
  version: 1.0.0
  license:
    name: Apache-2.0
    identifier: Apache-2.0
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
  - url: https://control.tnl.dev
paths:
  /v1/capabilities:
    get:
      operationId: getCapabilities
      summary: Describe supported core behavior
      security: []
      responses:
        "200":
          description: Core capabilities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Capabilities"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /v1/auth/token:
    post:
      operationId: exchangeBootstrapToken
      summary: Exchange a deployment bootstrap token for an access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenExchangeRequest"
      responses:
        "200":
          description: Access token issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenExchangeResponse"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "413":
          $ref: "#/components/responses/Problem"
        "415":
          $ref: "#/components/responses/Problem"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /v1/auth/credentials/{id}:
    delete:
      operationId: revokeAccessCredential
      summary: Revoke an access credential owned by the authenticated principal
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/CredentialID"
      responses:
        "204":
          description: Access credential revoked
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/BearerProblem"
        "404":
          $ref: "#/components/responses/Problem"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /v1/hostname-claims:
    get:
      operationId: listHostnameClaims
      summary: List active hostname claims owned by the authenticated principal
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/HostnameClaimID"
      responses:
        "200":
          description: Hostname claims
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostnameClaimPage"
        "401":
          $ref: "#/components/responses/BearerProblem"
        default:
          $ref: "#/components/responses/Problem"
    post:
      operationId: createHostnameClaim
      summary: Claim an exact hostname or allocate a random hostname
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateHostnameClaimRequest"
      responses:
        "201":
          description: Hostname claimed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostnameClaim"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/BearerProblem"
        "409":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /v1/hostname-claims/{id}:
    delete:
      operationId: releaseHostnameClaim
      summary: Permanently release and tombstone an owned hostname claim
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/HostnameClaimID"
      responses:
        "204":
          description: Hostname claim released
        "401":
          $ref: "#/components/responses/BearerProblem"
        "404":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /v1/routes:
    get:
      operationId: listRoutes
      summary: List routes owned by the authenticated principal
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Routes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Route"
        "401":
          $ref: "#/components/responses/BearerProblem"
        default:
          $ref: "#/components/responses/Problem"
    post:
      operationId: createRoute
      summary: Create or reclaim an owned route with a new lease generation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRouteRequest"
      responses:
        "201":
          description: Route created or reclaimed and lease acquired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaseSetup"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/BearerProblem"
        "409":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /v1/routes/{id}:
    delete:
      operationId: deleteRoute
      summary: Delete a route owned by the authenticated principal
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RouteID"
      responses:
        "204":
          description: Route deleted
        "401":
          $ref: "#/components/responses/BearerProblem"
        "404":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /v1/routes/{id}/leases:
    post:
      operationId: acquireRouteLease
      summary: Acquire the next route lease generation
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RouteID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcquireLeaseRequest"
      responses:
        "201":
          description: Lease acquired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaseSetup"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/BearerProblem"
        "404":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /v1/routes/{id}/transport:
    post:
      operationId: registerRouteTransport
      summary: Register the agent Tailcat endpoint for a lease
      security:
        - leaseAuth: []
      parameters:
        - $ref: "#/components/parameters/RouteID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterTransportRequest"
      responses:
        "204":
          description: Transport registered and attached
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/BearerProblem"
        "409":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /v1/routes/{id}/heartbeat:
    post:
      operationId: heartbeatRouteLease
      summary: Refresh one current route lease
      security:
        - leaseAuth: []
      parameters:
        - $ref: "#/components/parameters/RouteID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LeaseGenerationRequest"
      responses:
        "200":
          description: Lease refreshed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeartbeatResponse"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/BearerProblem"
        "409":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /v1/routes/{id}/ready:
    post:
      operationId: markRouteReady
      summary: Publish a current attached route
      security:
        - leaseAuth: []
      parameters:
        - $ref: "#/components/parameters/RouteID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LeaseGenerationRequest"
      responses:
        "204":
          description: Route published
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/BearerProblem"
        "409":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /v1/routes/{id}/certificate-installed:
    post:
      operationId: markRouteCertificateInstalled
      summary: Acknowledge installation of a validated route certificate
      security:
        - leaseAuth: []
      parameters:
        - $ref: "#/components/parameters/RouteID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CertificateInstalledRequest"
      responses:
        "204":
          description: Certificate installation recorded
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/BearerProblem"
        "409":
          $ref: "#/components/responses/Problem"
        "412":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /v1/certs/orders:
    post:
      operationId: createCertificateOrder
      summary: Create or resume a certificate order for a current route lease
      security:
        - leaseAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCertificateOrderRequest"
      responses:
        "201":
          description: Durable certificate order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertificateOrder"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/BearerProblem"
        "409":
          $ref: "#/components/responses/Problem"
        "412":
          $ref: "#/components/responses/Problem"
        "429":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /v1/certs/orders/{id}:
    get:
      operationId: getCertificateOrder
      summary: Read a durable certificate order
      security:
        - leaseAuth: []
      parameters:
        - $ref: "#/components/parameters/CertificateOrderID"
      responses:
        "200":
          description: Certificate order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertificateOrder"
        "401":
          $ref: "#/components/responses/BearerProblem"
        "404":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /v1/certs/orders/{id}/challenge-ready:
    post:
      operationId: markCertificateChallengeReady
      summary: Probe and complete an installed TLS-ALPN challenge
      security:
        - leaseAuth: []
      parameters:
        - $ref: "#/components/parameters/CertificateOrderID"
      responses:
        "200":
          description: Advanced certificate order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertificateOrder"
        "401":
          $ref: "#/components/responses/BearerProblem"
        "409":
          $ref: "#/components/responses/Problem"
        "412":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
  /v1/certs/orders/{id}/challenge-removed:
    post:
      operationId: markCertificateChallengeRemoved
      summary: Acknowledge challenge-specific cleanup by the route agent
      security:
        - leaseAuth: []
      parameters:
        - $ref: "#/components/parameters/CertificateOrderID"
      responses:
        "204":
          description: Challenge cleanup recorded
        "401":
          $ref: "#/components/responses/BearerProblem"
        "409":
          $ref: "#/components/responses/Problem"
        "412":
          $ref: "#/components/responses/Problem"
        default:
          $ref: "#/components/responses/Problem"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: tnl access token
    leaseAuth:
      type: http
      scheme: bearer
      bearerFormat: tnl lease token
  parameters:
    RouteID:
      name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^route_[0-9a-f]{32}$
    CertificateOrderID:
      name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^cert_[0-9a-f]{32}$
  responses:
    Problem:
      description: Request failed
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    BearerProblem:
      description: Bearer authentication failed
      headers:
        WWW-Authenticate:
          schema:
            type: string
            const: Bearer
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
  schemas:
    Capabilities:
      type: object
      additionalProperties: false
      required:
        - protocol_versions
        - anonymous_public
        - hostname_authorization
        - transport
      properties:
        protocol_versions:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: integer
            enum: [1]
        anonymous_public:
          type: boolean
        hostname_authorization:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum: [local_claim, external_assertion]
        local_claim:
          $ref: "#/components/schemas/LocalClaimCapabilities"
        transport:
          $ref: "#/components/schemas/TransportCapabilities"
        acme:
          $ref: "#/components/schemas/AcmeCapabilities"
    TransportCapabilities:
      type: object
      additionalProperties: false
      required: [type, version, relay_profile]
      properties:
        type:
          type: string
          const: tailcat
        version:
          type: integer
          const: 1
        relay_profile:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{0,62}$
    AcmeCapabilities:
      type: object
      additionalProperties: false
      required: [profile]
      properties:
        profile:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{0,62}$
    LocalClaimCapabilities:
      type: object
      additionalProperties: false
      required: [suffix]
      properties:
        suffix:
          type: string
          minLength: 1
          maxLength: 189
    TokenExchangeRequest:
      type: object
      additionalProperties: false
      required: [bootstrap_token]
      properties:
        bootstrap_token:
          type: string
          minLength: 1
          maxLength: 128
          pattern: '^tnl_bootstrap_[A-Za-z0-9_-]{21}[AQgw]\.[A-Za-z0-9_-]{42}[AEIMQUYcgkosw048]$'
    TokenExchangeResponse:
      type: object
      additionalProperties: false
      required: [access_token, credential_id, token_type, expires_at]
      properties:
        access_token:
          type: string
          minLength: 1
          maxLength: 128
          pattern: '^tnl_access_[A-Za-z0-9_-]{21}[AQgw]\.[A-Za-z0-9_-]{42}[AEIMQUYcgkosw048]$'
        credential_id:
          $ref: "#/components/schemas/CredentialID"
        token_type:
          type: string
          const: Bearer
        expires_at:
          type: string
          format: date-time
    CredentialID:
      type: string
      pattern: ^[A-Za-z0-9_-]{21}[AQgw]$
    HostnameClaimID:
      type: string
      pattern: ^claim_[0-9a-f]{32}$
    CreateHostnameClaimRequest:
      type: object
      additionalProperties: false
      properties:
        label:
          type: string
          minLength: 1
          maxLength: 63
    HostnameClaim:
      type: object
      additionalProperties: false
      required: [id, hostname, irreversible, created_at]
      properties:
        id:
          $ref: "#/components/schemas/HostnameClaimID"
        hostname:
          type: string
          minLength: 1
          maxLength: 253
        irreversible:
          type: boolean
        created_at:
          type: string
          format: date-time
    HostnameClaimPage:
      type: object
      additionalProperties: false
      required: [claims]
      properties:
        claims:
          type: array
          maxItems: 100
          items:
            $ref: "#/components/schemas/HostnameClaim"
        next_cursor:
          $ref: "#/components/schemas/HostnameClaimID"
    CreateRouteRequest:
      type: object
      additionalProperties: false
      required: [hostname, display_target, route_token]
      properties:
        hostname:
          type: string
          minLength: 1
          maxLength: 254
        display_target:
          type: string
          minLength: 1
          maxLength: 256
        route_token:
          type: string
          minLength: 1
          maxLength: 128
          pattern: '^tnl_route_[A-Za-z0-9_-]{21}[AQgw]\.[A-Za-z0-9_-]{42}[AEIMQUYcgkosw048]$'
    AcquireLeaseRequest:
      type: object
      additionalProperties: false
      required: [route_token]
      properties:
        route_token:
          type: string
          minLength: 1
          maxLength: 128
          pattern: '^tnl_route_[A-Za-z0-9_-]{21}[AQgw]\.[A-Za-z0-9_-]{42}[AEIMQUYcgkosw048]$'
    LeaseGenerationRequest:
      type: object
      additionalProperties: false
      required: [generation]
      properties:
        generation:
          type: integer
          minimum: 1
    RegisterTransportRequest:
      type: object
      additionalProperties: false
      required: [generation, endpoint]
      properties:
        generation:
          type: integer
          minimum: 1
        endpoint:
          $ref: "#/components/schemas/TailcatDescriptor"
    TailcatDescriptor:
      type: object
      additionalProperties: false
      required: [version, server_public_key, relay_profile]
      properties:
        version:
          type: integer
          const: 1
        server_public_key:
          type: string
          pattern: ^nodekey:[0-9a-f]{64}$
        relay_profile:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{0,62}$
    Route:
      type: object
      additionalProperties: false
      required: [id, hostname, display_target, state, generation, created_at]
      properties:
        id:
          type: string
          pattern: ^route_[0-9a-f]{32}$
        hostname:
          type: string
          minLength: 1
          maxLength: 253
        display_target:
          type: string
          minLength: 1
          maxLength: 256
        state:
          type: string
          enum: [active]
        generation:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
    RouteLease:
      type: object
      additionalProperties: false
      required: [id, route_id, generation, status, created_at, expires_at]
      properties:
        id:
          type: string
          pattern: ^lease_[0-9a-f]{32}$
        route_id:
          type: string
          pattern: ^route_[0-9a-f]{32}$
        generation:
          type: integer
          minimum: 1
        status:
          type: string
          enum: [pending, starting, ready]
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
    LeaseSetup:
      type: object
      additionalProperties: false
      required: [route, lease, lease_token, ingress_public_key]
      properties:
        route:
          $ref: "#/components/schemas/Route"
        lease:
          $ref: "#/components/schemas/RouteLease"
        lease_token:
          type: string
          minLength: 1
          maxLength: 128
          pattern: '^tnl_lease_[A-Za-z0-9_-]{21}[AQgw]\.[A-Za-z0-9_-]{42}[AEIMQUYcgkosw048]$'
        ingress_public_key:
          type: string
          pattern: ^nodekey:[0-9a-f]{64}$
    HeartbeatResponse:
      type: object
      additionalProperties: false
      required: [expires_at]
      properties:
        expires_at:
          type: string
          format: date-time
    CreateCertificateOrderRequest:
      type: object
      additionalProperties: false
      required: [route_id, generation, csr, profile]
      properties:
        route_id:
          type: string
          pattern: ^route_[0-9a-f]{32}$
        generation:
          type: integer
          minimum: 1
        csr:
          type: string
          minLength: 1
          maxLength: 16384
          pattern: ^[A-Za-z0-9_-]+$
        profile:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{0,62}$
    CertificateOrder:
      type: object
      additionalProperties: false
      required: [id, route_id, generation, hostname, profile, state, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: ^cert_[0-9a-f]{32}$
        route_id:
          type: string
          pattern: ^route_[0-9a-f]{32}$
        generation:
          type: integer
          minimum: 1
        hostname:
          type: string
          minLength: 1
          maxLength: 253
        profile:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{0,62}$
        state:
          type: string
          enum:
            - creating_order
            - authorizing
            - waiting_for_challenge
            - validating
            - ready_to_finalize
            - finalizing
            - downloading
            - waiting_for_install
            - succeeded
            - invalid
            - blocked
            - canceled
        challenge:
          $ref: "#/components/schemas/CertificateChallenge"
        certificate_pem:
          type: string
          maxLength: 49152
        not_before:
          type: string
          format: date-time
        not_after:
          type: string
          format: date-time
        renew_at:
          type: string
          format: date-time
        retry_at:
          type: string
          format: date-time
        error:
          type: string
          maxLength: 1024
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CertificateChallenge:
      type: object
      additionalProperties: false
      required: [id, hostname, digest, expires_at]
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 2048
        hostname:
          type: string
          minLength: 1
          maxLength: 253
        digest:
          type: string
          pattern: ^[A-Za-z0-9_-]{43}$
        expires_at:
          type: string
          format: date-time
    CertificateInstalledRequest:
      type: object
      additionalProperties: false
      required: [generation, order_id]
      properties:
        generation:
          type: integer
          minimum: 1
        order_id:
          type: string
          pattern: ^cert_[0-9a-f]{32}$
    Problem:
      type: object
      additionalProperties: false
      required: [type, title, status, code, request_id, details]
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
          minLength: 1
          maxLength: 128
        status:
          type: integer
          minimum: 400
          maximum: 599
        code:
          type: string
          enum:
            - invalid_argument
            - unauthenticated
            - permission_denied
            - not_found
            - name_unavailable
            - state_conflict
            - idempotency_conflict
            - credential_replayed
            - rate_limited
            - precondition_failed
            - temporarily_unavailable
            - internal
        request_id:
          type: string
          pattern: ^req_[A-Za-z0-9]+$
        details:
          type: object
          maxProperties: 16
