class Tnl < Formula
  desc "public urls for every worktree."
  homepage "https://github.com/tnldotdev/tnl"
  version "{{VERSION}}"
  license "MIT"

  on_macos do
    on_arm do
      url "https://github.com/tnldotdev/tnl/releases/download/{{TAG}}/tnl_{{VERSION}}_darwin_arm64.tar.gz"
      sha256 "{{DARWIN_ARM64}}"
    end

    on_intel do
      url "https://github.com/tnldotdev/tnl/releases/download/{{TAG}}/tnl_{{VERSION}}_darwin_amd64.tar.gz"
      sha256 "{{DARWIN_AMD64}}"
    end
  end

  on_linux do
    on_arm do
      url "https://github.com/tnldotdev/tnl/releases/download/{{TAG}}/tnl_{{VERSION}}_linux_arm64.tar.gz"
      sha256 "{{LINUX_ARM64}}"
    end

    on_intel do
      url "https://github.com/tnldotdev/tnl/releases/download/{{TAG}}/tnl_{{VERSION}}_linux_amd64.tar.gz"
      sha256 "{{LINUX_AMD64}}"
    end
  end

  def install
    bin.install "tnl", "tnld"
  end

  test do
    assert_match(/^tnl #{Regexp.escape(version.to_s)} \([0-9a-f]{40}\)$/, shell_output("#{bin}/tnl version").strip)
    assert_match(/^tnld #{Regexp.escape(version.to_s)} \([0-9a-f]{40}\)$/, shell_output("#{bin}/tnld version").strip)
  end
end
